.btn-abl-primary
  background-color: $primary-abl
  border: $primary-abl
  color: $white
  &:hover
    background-color: $primary-abl-dark-1
    border: $primary-abl-dark-1
    color: $white



.btn-abl-secondary
  background-color: $secondary-abl
  border: $secondary-abl
  color: $white
