.gray
  background-color: $gray
.gray-light
  background-color: $gray-light

.btn-abl-primary
  background-color: $primary-abl
  border: $primary-abl
  color: $white
  &:hover, &:focus, &:active, &:focus:active
    background-color: $primary-abl-dark-1
    border: $primary-abl-dark-1
    color: $white
    box-shadow: 0 0 0 0.25rem $gray-100
  &:disabled
    background-color: rgba($primary-abl, 0.5)
    color: $white

.btn-abl-primary-alt
  background-color: $white
  border: $primary-abl 1px solid
  color: $primary-abl

.btn-abl-secondary
  background-color: $secondary-abl
  border: $secondary-abl
  color: $white

.text-ellipsis
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  width: 100%

.right-bottom-corner
  position: fixed
  right: 10px
  bottom: 0