//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $primary: #a48ad4;

$primary-abl: #88179E;
$primary-abl-dark-1: #550f62;
$secondary-abl: #061D49;
$gray: #d6dbe2;
$gray-light: #e7e7e7;