.hero
  height: unset

//.btn
//  background-color: $secondary-abl
//  border-color: $secondary-abl
#page-container.sidebar-dark
  #sidebar, #sidebar .content-header
    background-color: $secondary-abl
    border-color: $secondary-abl
